* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tenor Sans', 'Inter', sans-serif;
  color: #1d1d1d;
  /*TODO доделать шрифт */
}

body {
  min-width: 1600px;
  background-color: rgba(231, 234, 239, 1);
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  body {
    min-width: 1280px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    min-width: 624px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: 368px;
  }
}

@media screen and (max-width: 767px) {
  body {
    min-width: 308px;
  }
}
