.container {
  padding: 80px 0 80px 0;
  width: 1200px;
}

.header,
.review {
  padding-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.info {
  justify-content: space-around;
}

.logo {
  transition: transform 1.5s cubic-bezier(0.61, 1, 0.88, 1);
}

.logo:hover {
  transform: scale(1.1) rotate(5deg);
}

.text {
  width: 650px;
  margin-bottom: 0;
  font-weight: bold;
}

.reviewCarousel {
  border: 1px solid #bbc6c8;
  text-align: center;
  margin-bottom: 80px;
  min-height: 200px;
  background-color: white;
}

.reviewCarousel img {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
  transition: transform 1.5s cubic-bezier(0.61, 1, 0.88, 1);
}

.reviewCarousel img:hover {
  transform: scale(1.1);
}

.reviewCarousel p,
.reviewCarousel h5 {
  width: 75%;
  margin: 0 auto;
  font-weight: bold;
}

.reviewCarousel h5 {
  margin-bottom: 20px;
}

.reviewCarousel p {
  margin-top: 0;
  margin-bottom: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }

  .header,
  .review {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .text {
    width: 100%;
    font-size: 14px;
  }

  .logo {
    width: 250px;
    height: auto;
  }

  .reviewCarousel {
    margin-bottom: 40px;
    min-height: 200px;
  }

  .reviewCarousel img {
    width: 100px;
  }

  .reviewCarousel p {
    font-size: 14px;
  }

  .reviewCarousel h5 {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }

  .header,
  .review {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .info {
    flex-direction: column;
  }

  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .reviewCarousel {
    margin-bottom: 20px;
    min-height: 200px;
  }

  .reviewCarousel img {
    width: 100px;
  }

  .reviewCarousel p {
    font-size: 14px;
  }

  .reviewCarousel h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .header,
  .review {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .info {
    flex-direction: column;
  }

  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .reviewCarousel {
    margin-bottom: 20px;
    min-height: 200px;
  }

  .reviewCarousel img {
    width: 90px;
  }

  .reviewCarousel p {
    font-size: 14px;
  }

  .reviewCarousel h5 {
    font-size: 18px;
  }
}
