.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cardItem {
  position: relative;
  width: 380px;
  height: 285px;
  margin-top: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  /* border-color: #bbc6c8; */
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.cardImgContainer {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  width: 380px;
  height: 285px;
  margin-bottom: 5px;
  z-index: -1;
}

.cardImg {
  width: 100%;
  height: 100%;
  /* padding-bottom: 5px; */
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1),
    -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.cardItem:hover .cardImg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.cardTitle {
  padding: 5px 0;
  white-space: nowrap;
}

.cardBottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 5px 20px 10px 20px;
}

.cardTitle,
.cardBottom b {
  color: white;
  font-size: 18px;
  font-weight: 100;
  z-index: 1;
}

/* .cardBtn {
  border-radius: 0;
  margin-left: 10px;
  background-color: #deab68;
   background-color: rgba(57, 133, 167, 1); 
   border: none;
  -webkit-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.cardBtn:hover {
  background-color: #01868c;
} */

.cardItemInfoWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 285px;
  width: 380px;
  background-color: rgba(0, 0, 0, 0.35);
  padding-top: 70px;
}

.cardItemInfo {
  padding: 2px 10px 0 10px;
  color: white;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .cardItem {
    width: 275px;
    height: 190px;
  }

  .cardImgContainer {
    height: 190px;
    width: 275px;
  }

  .cardBottom {
    padding-right: 13px;
    padding-left: 13px;
  }

  .cardItemInfoWrapper {
    width: 275px;
    height: 190px;
    padding-top: 40px;
  }

  .cardTitle,
  .cardBottom b {
    font-size: 16px;
  }

  .cardItemInfo {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cardItem {
    width: 190px;
    height: 145px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 145px;
    width: 190px;
  }

  .cardTitle {
    white-space: normal;
    text-align: center;
  }

  .cardTitle,
  .cardBottom b {
    font-size: 14px;
  }

  .cardItemInfo {
    font-size: 12px;
  }

  .cardItemInfoWrapper {
    height: 145px;
    width: 190px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardItem {
    width: 300px;
    height: 180px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 180px;
    width: 300px;
  }

  .cardTitle,
  .cardBottom b {
    font-size: 16px;
  }

  .cardItemInfo {
    font-size: 14px;
  }

  .cardItemInfoWrapper {
    height: 180px;
    width: 300px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cardItem {
    width: 300px;
    height: 180px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 180px;
    width: 300px;
  }

  .cardTitle,
  .cardBottom b {
    font-size: 16px;
  }

  .cardItemInfo {
    font-size: 14px;
  }

  .cardItemInfoWrapper {
    height: 180px;
    width: 300px;
    padding-top: 40px;
  }
}
