.container {
  padding: 0 0 60px 0;
  width: 1200px;
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 350px;
  height: 100vh;
}

.card {
  border-radius: 0;
  margin-bottom: 40px;
  border-color: #bbc6c8;
  /* border: none; */
  font-weight: bold;
}

.cardInfo {
  text-align: center;
  margin: 20px 30px 0 30px;
}

.col > .card {
  margin-right: 10px;
}

.cardDescription {
  margin: 20px 30px 20px 30px;
}

.header {
  font-weight: bold;
}

.apartCol .card {
  /* height: 383px; */
  height: 100%;
  /* overflow: hidden; */
  /* transition: all 1s ease; */
}

.description p {
  margin: 5px 0;
  padding: 0;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.carousel {
  z-index: 2;
}

.col {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: -1px;
  z-index: 1;
}

.apartCol {
  margin-top: -1px;
  z-index: 1;
}

.cardBottom {
  margin-top: 80px;
  background-color: #e7eaef;
  text-align: center;
  /* border-top: 1px solid #bbc6c8; */
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 30px;
  color: #1d1d1d;
}

.cardBtn {
  margin-bottom: 20px;
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 0;
  background-color: #deab68;
  border: none;
}

.cardBtn:hover {
  background-color: #01868c;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }

  .header {
    font-size: 24px;
  }

  .description p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 24px;
  }

  .cardInfo,
  .cardDescription {
    margin: 10px 15px;
  }

  .cardBottom {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }

  .colContainer {
    flex-direction: column;
  }

  .header {
    font-size: 18px;
  }

  .description p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }

  .card {
    width: 368px;
  }

  .apartCol .card {
    margin-top: -30px;
    margin-left: -61px;
  }

  .cardInfo,
  .cardDescription {
    margin: 5px 5px;
  }

  .cardBottom {
    margin-top: 20px;
  }

  .cardBtn {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .colContainer {
    flex-direction: column;
  }

  .card {
    width: 308px;
  }

  .apartCol .card {
    margin-top: -30px;
  }

  .header {
    font-size: 18px;
  }

  .cardDescription p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }

  .cardInfo,
  .cardDescription {
    margin: 5px 10px;
  }

  .cardBottom {
    margin-top: 40px;
  }

  .cardBtn {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
}
