.col {
  display: flex;
  justify-content: center;
}

.cardItem {
  width: 380px;
  margin-top: 40px;
  align-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  border-color: #bbc6c8;
}

.cardImgContainer {
  text-align: center;
  overflow: hidden;
  width: 340px;
  height: 195px;
  margin-bottom: 5px;
}

.cardImg {
  width: 100%;
  height: 100%;
  /* padding-bottom: 5px; */
  object-fit: cover;
  transition: transform 1.5s cubic-bezier(0.61, 1, 0.88, 1);
}

.cardItem:hover .cardImg {
  transform: scale(1.1);
}

.cardTitle {
  padding: 5px 0;
  white-space: nowrap;
}

.cardBottom {
  justify-content: space-between;
  padding: 5px 20px 10px 20px;
}

.cardBtn {
  border-radius: 0;
  margin-left: 10px;
  background-color: #deab68;
  /* background-color: rgba(57, 133, 167, 1); */
  border: none;
}
.cardBtn:hover {
  background-color: #01868c;
}

.cardItemInfoWrapper {
  position: absolute;
  top: 34px;
  left: 18px;
  height: 195px;
  background-color: rgba(0, 0, 0, 0.25);
}

.cardItemInfo {
  padding: 2px 10px 0 10px;
  color: white;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .cardItem {
    width: 280px;
  }

  .cardImgContainer {
    height: 175px;
    width: 250px;
  }

  .cardBottom {
    padding-right: 13px;
    padding-left: 13px;
  }

  .cardItemInfoWrapper {
    left: 13px;
    height: 175px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cardItem {
    width: 200px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 145px;
    width: 170px;
  }

  .cardTitle {
    font-size: 14px;
    white-space: normal;
    text-align: center;
  }

  .cardItemInfo {
    font-size: 12px;
  }

  .cardBottom {
    font-size: 14px;
    flex-direction: column;
    margin: 0 auto;
  }

  .cardBottom b {
    margin-bottom: 5px;
  }

  .cardItemInfoWrapper {
    top: 52px;
    left: 9px;
    height: 145px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cardItem {
    width: 300px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 145px;
    width: 270px;
  }

  .cardTitle {
    font-size: 14px;
  }

  .cardItemInfo {
    font-size: 14px;
  }

  .cardBottom {
    font-size: 18px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .cardItemInfoWrapper {
    top: 31px;
    left: 15px;
    height: 145px;
  }
}

@media screen and (max-width: 767px) {
  .cardItem {
    width: 300px;
    margin-top: 40px;
  }

  .cardImgContainer {
    height: 145px;
    width: 270px;
  }

  .cardTitle {
    font-size: 14px;
  }

  .cardItemInfo {
    font-size: 14px;
  }

  .cardBottom {
    font-size: 18px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .cardItemInfoWrapper {
    top: 31px;
    left: 15px;
    height: 145px;
  }
}
