.container {
  padding: 80px 0 60px 0;
  width: 1200px;
}

.img {
  object-fit: cover;
  width: 100%;
  min-height: 350px;
  height: 50vh;
}

.card {
  border-radius: 0;
  margin-bottom: 40px;
  border-color: #bbc6c8;
  font-weight: bold;
}

.card span,
.card h2 {
  margin: 20px 30px;
}

.card h2 {
  margin-bottom: 0;
}

.col > .card {
  margin-right: 10px;
}

.header {
  font-weight: bold;
}

.cardDescription p {
  margin: 5px 0;
  padding: 0;
}

.carousel {
  z-index: 2;
}

.col {
  align-self: flex-start;
  margin-top: -1px;
  z-index: 1;
}

.apartCol {
  margin-top: -1px;
  z-index: 1;
}

.cardBottom {
  margin-top: 120px;
  background-color: #e7eaef;
  text-align: center;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  font-size: 30px;
  color: #1d1d1d;
}

.cardBtn {
  margin-bottom: 20px;
  width: 150px;
  align-self: center;
  border-radius: 0;
  background-color: #deab68;
  border: none;
}

.cardBtn:hover {
  background-color: #01868c;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }

  .header {
    font-size: 24px;
  }

  .cardDescription p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 24px;
  }

  .card span,
  .card h2 {
    margin: 10px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }
  .header {
    font-size: 18px;
  }

  .cardDescription p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }

  .card span,
  .card h2 {
    margin: 5px 10px;
  }

  .cardBottom {
    margin-top: 40px;
  }

  .cardBtn {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .header {
    font-size: 18px;
  }

  .cardDescription p {
    font-size: 14px;
  }

  .col {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }

  .card span,
  .card h2 {
    margin: 5px 10px;
  }

  .cardBottom {
    margin-top: 40px;
  }

  .cardBtn {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
}
