.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 40px 0 80px 0;
  /* height: 100vh; */
  /* height: 950px; */
  width: 1200px;
}

.form {
  padding: 25px;
  border: 1px solid #bbc6c8;
  background-color: white;
}

.form * {
  border-radius: 0;
  border-color: #1d1d1d;
}

.form Button {
  width: 100%;
  background-color: #deab68;
  border: none;
  -webkit-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.form Button:hover {
  background-color: #01868c;
}

.col {
  margin-left: 40px;
  margin-bottom: auto;
}

/* .description {
  padding-right: 20px;
} */

.col * {
  font-weight: bold;
}

.col a {
  text-decoration: none;
  font-size: 20px;
  color: #1d1d1d;
  margin: 5px 0 5px 0;
}

/* -------social---------- */
.socialsWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.socialsWrapper .icon {
  background: #ffffff;
  margin: 15px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid #1d1d1d;
  -webkit-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.socialsWrapper .icon:first-child {
  margin-left: 0;
}

.socialsWrapper .icon img {
  width: 24px;
  height: 24px;
}

.socialsWrapper .icon:hover img {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.socialsWrapper .facebook:hover {
  background: #1877f2;
}

.socialsWrapper .instagram:hover {
  background: #e4405f;
}

.socialsWrapper .whatsapp:hover {
  background: #25d366;
}

.socialsWrapper .tiktok:hover {
  background: #00f2ea;
}

.socialsWrapper .telegram:hover {
  background: #0088cc;
}

.mail,
.phone {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
  .description {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }

  .form * {
    font-size: 14px;
  }

  .description {
    width: 320px;
  }

  .col {
    font-size: 14px;
  }

  .col a {
    font-size: 18px;
  }

  .col h1 {
    font-size: 24px;
  }

  .socialsWrapper {
    margin: 5px 0;
  }

  .socialsWrapper .icon {
    margin: 5px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form {
    width: 300px;
    padding: 20px;
    margin-left: -75px;
    margin-bottom: 20px;
  }

  .form * {
    font-size: 14px;
  }

  .col {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  .col a {
    font-size: 16px;
  }

  .col h1 {
    font-size: 18px;
  }

  .phoneWrapper {
    margin-left: 30px;
  }

  .socialsWrapper {
    margin: 5px 0;
    margin-left: -30px;
  }

  .socialsWrapper .icon {
    margin: 5px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form {
    width: 280px;
    padding: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .form * {
    font-size: 14px;
  }

  .col {
    text-align: center;
    margin-left: 0;
    font-size: 14px;
  }

  .col a {
    font-size: 16px;
  }

  .col h1 {
    font-size: 18px;
  }

  .phoneWrapper {
    margin-left: 80px;
  }

  .socialsWrapper {
    margin: 5px 0;
    margin-left: 0;
  }

  .socialsWrapper .icon {
    margin: 5px;
    margin-bottom: 20px;
  }
}
