.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* margin: 0 10px; */
  width: 380px;
  height: 380px;
  /* height: 325px; */
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 0;
  border-color: #bbc6c8;
  /* border: none; */
  -webkit-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: background-color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 20px; */
  width: 380px;
  height: 380px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -o-transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1),
    -webkit-transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
}

.card:hover .img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.textBlock {
  z-index: 99;
  margin: auto;
}

.title {
  font-weight: bold;
  color: white;
}

.description {
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .card,
  .img {
    width: 280px;
    height: 280px;
  }

  .title {
    font-size: 30px;
  }

  .description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card,
  .img {
    width: 200px;
    height: 200px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    /* padding: 5px; */
    /* margin-bottom: 10px; */
    margin-left: -235px;
  }

  .card,
  .img {
    width: 250px;
    height: 250px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  /* .card {
    padding: 5px; 
    margin-bottom: 10px;
  } */

  .card,
  .img {
    width: 280px;
    height: 280px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}
