.btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  /* line-height: 30px; */
  color: #000000;
  background: rgba(222, 171, 104, 0.5);
  border: 1px solid #bbc6c8;
  border-radius: 50%;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  cursor: pointer;
  padding: 0 10px;
}

.btn:hover {
  background: #01868c;
}

@media screen and (max-width: 767px) {
  .btn {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgba(222, 171, 104, 0.3);
    border: 1px solid #bbc6c8;
  }
}
