.container {
  margin-top: 0;
  padding: 0px 0 40px 0;
  width: 1200px;
  /* height: 100vh; */
  /* height: 950px; */
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  font-family: 'Piazzolla', 'Inter', serif;
  font-weight: 500;
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.cardsWrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }
  .cardsWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }
}
