.col {
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  text-align: center;
  /* margin: 0 10px; */
  width: 400px;
  height: 325px;
  padding: 10px;
  cursor: pointer;
  border-radius: 0;
  border-color: #e7eaef;
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.card:hover {
  background-color: #01868c;
}

.img {
  margin: 20px;
}

.title {
  font-weight: bold;
}

.description {
  font-weight: bold;
}
