.wrapper {
  width: 100%;
  /* rgba(222, 171, 104, 0.5); */
}

.container {
  margin-top: 0;
  padding: 0px 0 40px 0;
  width: 1200px;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 40px;
}

.header h2 {
  font-family: 'Piazzolla', 'Inter', serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.stack {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .container {
    width: 880px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 624px;
  }

  .header h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 368px;
  }

  .header h2 {
    font-size: 18px;
    font-weight: 700;
  }

  .header h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 308px;
  }

  .header h2 {
    font-size: 18px;
    font-weight: 700;
  }

  .header h5 {
    font-size: 16px;
  }
}
