.myBtn {
  margin-bottom: 20px;
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 0;
  background-color: #deab68;
  border: none;
}

.myBtn:hover {
  background-color: #01868c;
}
